*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  font-size: 1rem;
}

footer {
  width: 100%;
  display:flex;
  justify-content: center;
  margin-top: 20%;
  position: relative;
}

.footer_contenedor{
  width: 80%;
  background-color: #777474;
  position: relative;
  border-radius: 0.3rem;
}

.footer_iconos{
  display: flex;
  margin-top: 10% ;
  list-style-type: none;
  justify-content: center;
}

.footer_iconos-item{
  font-size: 40px;
  float: left;
  text-align: center;
  width: 2.5em;
}

.footer_nav{
  list-style: none;
  margin-left: 27%;
}

.footer_nav li{
  font-weight: bold;
  float: left;
  width: 6.3em;
  margin-bottom: 10%;
  text-align: center;
}