*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../Images/nadador-masculino-nadando-trazo-mariposa.jpg);
  background-size: cover ;
  font-family: sans-serif;
  font-size: large;
  font-style: normal;
}

body h2{
  color: rgb(96, 238, 207);
  font-style: italic;
}

.cont_mayor form label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(195, 238, 94);
}

/*--poner ojo con este--*/
div{
  display: flex;
  justify-content: center;
  color: aquamarine;
}

#result{
  font-weight:bold;
  font-size: large;
}
