
<main>
  <section class="perfil">
    <img class="perfil__avatar" src="../assets/img/avatar.jpg" alt="Imagen de avatar">
    <h2 class="perfil__nombre">John Wick</h2>
    <h3 class="perfil__titulo">asesino legendario</h3>
    <a class="perfil__boton" href="">Seguir</a>

    <div class="perfil--estadistica">
      <div class="estadistica__elemento">
          <h3 class="estadistica__elemento--numero">12K</h3>
          <span>seguidores</span>
      </div>

      <div class="estadistica__elemento">
          <h3 class="estadistica__elemento--numero">1.7K</h3>
          <span>Siguiendo</span>
      </div>

      <div class="estadistica__elemento">
          <h3 class="estadistica__elemento--numero">40</h3>
          <span>articulos</span>
      </div>
    </div>

    <div class="perfil__bio">
        <h2>acerca de mi</h2>
        <h3>asesino a sueldo retirado y amante de los perros</h3>
    </div>

    <div class="perfil__ubicacion">
        <i class="fa-solid fa-location-dot">❣</i>
        <h2>Estados Unidos</h2>
        <h3>227km Cerca</h3>
    </div>

    <div class="perfil--galeria">
      <div><h2>Mis Fotos</h2></div>
      <div class="galeria__imagenes">
        <img class="galeria__foto galeria__foto--1" src="../assets/img/galeria1.jpg" alt="">
        <img class="galeria__foto galeria__foto--2" src="../assets/img/galeria2.jpg" alt="">
        <img class="galeria__foto galeria__foto--3" src="../assets/img/galeria3.jpg" alt="">
        <img class="galeria__foto galeria__foto--4" src="../assets/img/galeria4.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="articulos">
    <div class="noticias__consola">
      <h2>Playstation</h2>
      <h3>GTA VI: Filtraciones de información que son bastante dudodas</h3>
      <p>
        Una mata de cosas para copiar y queden bonitas en la pnatalla pero
        no quiero copiarlas entonces toca escribir cualquier cosa porque si
        y ya despues lo defino en otros proyectos.
        Espero quede bien
      </p>
    </div>

    <div class="noticias__border"></div>
    
    <div class="noticias__consola">
      <h2>Switch</h2>
      <h3>Secuela de leyend of zelda: Breath of the Wild anunciada en el E3 2019</h3>
      <p>
        Una mata de cosas para copiar y queden bonitas en la pnatalla pero
        no quiero copiarlas entonces toca escribir cualquier cosa porque si
        y ya despues lo defino en otros proyectos.
        Espero quede bien
      </p>
    </div>

    <div class="noticias__border"></div>

    <div class="noticias__consola">
      <h2>Xbox</h2>
      <h3>red dead online recibe actualización masiva y sale de beta</h3>
      <p>
        Una mata de cosas para copiar y queden bonitas en la pnatalla pero
        no quiero copiarlas entonces toca escribir cualquier cosa porque si
        y ya despues lo defino en otros proyectos.
        Espero quede bien
      </p>
    </div>
  </section>
</main>